:root {
    height: 100vh;
    --green: #294936;
    --green2: #3B684D;
    --cream: #F0E7D8;
    --cool-gray:#817E9F;
    --lilac: #BD93BD;
    --dark-lilac: #9D6381;
}

* {
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right, var(--cream), var(--cream) 55%, var(--green) 100%, var(--green));
}

/* HEADER */
header {
    position: sticky;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 99;
    background-image: linear-gradient(to right, var(--cream), var(--cream) 55%, var(--green) 100%, var(--green));
}

.logo {
    height: 81px;
}

.nav-item a {
    border: 1px solid var(--green)
}

/* FOOTER */
footer {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    width: 100%;
    margin: 0 0;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px 0;
    height: auto;
    z-index: 99;
    background-image: linear-gradient(to right, var(--cream), var(--cream) 55%, var(--green) 100%, var(--green));
}

footer svg {
    height: 60px;
    margin: 0 10px;
    padding: 0px;
    fill: var(--cream);
}

/* SECTION */
.section {
    width: 80%;
    margin: 50px auto;
}

.section-title {
    font-family: "Work Sans", serif;
    font-weight: 700;
    color: var(--cool-gray);
}

.type-animate {
    width: auto;
    overflow: hidden;
    border-right: .10em solid transparent;
    white-space: nowrap;
    
    animation: 
        typing 1.5s steps(50, end) forwards,
        blink-caret .2s step-start 3,
        ending 3s 3s step-start;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--lilac) }
}

@keyframes ending {
    from, to {
      border-right: 0 solid transparent;
    }
}

/* ABOUT */
#full-name {
    font-family: "Work Sans", serif;
    font-weight: 700;
    color: var(--lilac);
} 

#role {
    font-family: "Work Sans", serif;
    font-weight: 700;
    color: var(--cool-gray);
}

.about-btn {
    text-decoration: none;
    padding: 20px;
    color: var(--cream);
    background-color: var(--green2);
}

.about-btn:hover {
    background-color: var(--green);
    transition: .6s ease;
}


#pic {
    width: 280px;
    height: 280px;
    border: 5px solid var(--cream);
    border-radius: 50%;
}

/* PORTFOLIO */
.skills-div { 
    margin-bottom: 50px;
}

.card-img-top {
    width: 100%;
    height: 100%;
    border: 1px solid var(--green);
}

.card-img-overlay {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-card:hover .card-img-top {
    transition: 1s ease;
    opacity: 0.1;
}

.project-card:hover .card-img-overlay {
    transition: 1s ease;
    opacity: 1;
}

.card-link {
    text-decoration: underline;
    color: var(--green2);
}

.card-link:hover {
    color: var(--lilac);
    transition: .6s ease;
}

/* RESUME */
#resume-link {
    text-decoration: none;
    color: black;
    background-color: var(--green2);
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    opacity: 0.7;
    box-shadow: gray 3px 3px 3px;
}

#resume-link:hover {
    opacity: 1;
    color: var(--cream);
    background-color: var(--green);
    transition: .4s ease;
}

.badge-img {
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* CONTACT */
.error-text { 
    color: red;
}

.form-submit-btn {
    width: 100%;
    color: var(--cream);
    background-color: var(--green2);
    transition: .5s ease;
}

.form-submit-btn:hover {
    background: var(--green);
}

/* MEDIA QUERIES */

@media screen and (max-width: 850px) {
    * {
        font-size: .96em;
    }

    .header-div {
        margin: 0px auto;
    }

    .navigation {
        margin: 0px auto;
    }

    #pic {
        width: 180px;
        height: 180px;
        border: 2px solid var(--cream);
        margin: 0px 0px 30px
    }

    #contact {
        margin-bottom: 80px;
    }

    footer {
        justify-content: center;
        padding: 7px;
    }

    footer svg {
        height: 30px;
        margin: 3px 10px;
        fill: var(--cool-gray);
    }
}


@media screen and (max-width: 1200px) {
    * {
        font-size: .98em;
    }
}